<!DOCTYPE html>
<html lang='fr'>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="" />
    <title>Form with Handlebars</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        body {
            background-color: #020202;

        }

        h1 {
            color: white;
            font-family: 'Courier New', Courier, monospace;
            padding-bottom: 40px;

        }

        .container {
            width: 500px;
            background-color: #2196F3;
            padding: 10px;
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>