<h1 class="pt-5 text-center">World wild languages</h1>
<h2 class="pt-5 text-center">{{title}}</h2>
<h3 class="pt-5 text-center">{{lang}}</h3>
<div class="d-flex justify-content-center">
    <img class="w-25 p-3" src={{img}} alt="falg" />
</div>